<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ng-for></app-diretiva-ng-for> -->

<!-- Diretivas de atributo, que interagem com o elemento que foram aplicadas -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->


<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
     Quando essa tag for renderizada ele vai passar para o outro componente esse conteudo, uma especia de replace
    Podemos passar um outro component 
    Conteúdo passado para o componente
    <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->

<!-- <app-exemplo-ng-content>
     Quero passar esse titulo para dentro do seletor .titulo 
    <div class="titulo"> Título do Painel</div>
     Mais de uma tag com o mesmo seletor, vai pegar todo o conteudo que tem o mesmo seletor, vai fazer a concatenação de todos
    que tem o mesmo seletor  
    <div class="corpo"> Conteúdo passado para o componente
    </div>
    <div class="corpo"> Conteúdo passado para o componente2
    </div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>